<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <label for="first-name" class="form-label">First Name</label>
            <input type="text" class="form-control custom-input" id="first-name" placeholder="Udith">
        </div>
        <div class="col-md-4">
            <label for="middle-name" class="form-label">Middle Name</label>
            <input type="text" class="form-control custom-input" id="middle-name" placeholder="Sandaruwan">
        </div>
        <div class="col-md-4">
            <label for="last-name" class="form-label">Last Name</label>
            <input type="text" class="form-control custom-input" id="last-name" placeholder="Konara">
        </div>
    </div>
</div>


<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <label for="full-name" class="form-label">Full Name</label>
            <input type="text" class="form-control custom-input" id="full-name" placeholder="Udith Sandaruwan Konara">
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <label for="birth-day" class="form-label">Birth Day</label>
            <input type="date" class="form-control custom-input" id="birth-day">
        </div>
        <div class="col-md-4">
            <label for="nic" class="form-label">NIC</label>
            <input type="text" class="form-control custom-input" id="nic" placeholder="XXXXXXXXXV">
        </div>
        <div class="col-md-4">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-control custom-input" id="gender">
                <option value="" disabled selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <label for="mobile-number-1" class="form-label">Mobile Number 1</label>
            <input type="text" class="form-control custom-input" id="mobile-number-1" placeholder="07X XXX XX XX">
        </div>
        <div class="col-md-4">
            <label for="mobile-number-2" class="form-label">Mobile Number 2</label>
            <input type="text" class="form-control custom-input" id="mobile-number-2" placeholder="07X XXX XX XX">
        </div>
        <div class="col-md-4">
            <label for="whatsapp-number" class="form-label">Whatsapp Number</label>
            <input type="text" class="form-control custom-input" id="whatsapp-number" placeholder="07X XXX XX XX">
        </div>
    </div>
</div>