<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <label for="address-line-1" class="form-label">Address Line 1</label>
            <input type="text" class="form-control custom-input" id="address-line-1" placeholder="No:30/2">
        </div>
        <div class="col-md-4">
            <label for="address-line-2" class="form-label">Address Line 2</label>
            <input type="text" class="form-control custom-input" id="address-line-2" placeholder="Dahaiyagama Handiya">
        </div>
        <div class="col-md-4">
            <label for="address-line-3" class="form-label">Address Line 3</label>
            <input type="text" class="form-control custom-input" id="address-line-3" placeholder="Anuradhapura">
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <label for="description" class="form-label">Description / Bio</label>
            <textarea class="form-control custom-input" id="description" rows="4" placeholder="Enter your description or bio here"></textarea>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <label for="working-type" class="form-label">Working Type</label>
            <select class="form-control custom-input" id="working-type">
                <option value="" disabled selected>Select Working Time</option>
                <option value="part-time">Part Time</option>
                <option value="full-time">Full Time</option>
            </select>
        </div>
        <div class="col-md-8">
            <label for="working-hours" class="form-label">Possible Working Hours</label>
            <input type="text" class="form-control custom-input" id="working-hours" placeholder="Enter possible working hours">
        </div>
    </div>
</div>