<div class="container mt-4">
    <div class="row">
        <div class="progress-bar-container d-flex justify-content-between align-items-center">
            <div class="step active">
              <div class="circle">1</div>
              <span class="label">Step 1</span>
            </div>
            <div class="step">
              <div class="circle">2</div>
              <span class="label">Step 2</span>
            </div>
            <div class="step">
              <div class="circle">3</div>
              <span class="label">Step 3</span>
            </div>
          </div>
    </div>
</div>