<div class="container mt-4 mb-4">
    <div class="row mt-4">
        <div class="col-6 text-start">

            <!-- {% if page != 'register_step1' %}

                {% if page == 'register_step2' %}

                    <a href="{% url 'registerStep1' %}" class="btn btn-secondary px-5 py-2" >Back</a>

                {% elif page == 'register_step3' %}

                    <a href="{% url 'registerStep2' %}" class="btn btn-secondary px-5 py-2" >Back</a>

                {% elif page == 'register_step4' %}

                    <a href="{% url 'registerStep3' %}" class="btn btn-secondary px-5 py-2" >Back</a>

                {% endif %}

            {% endif %} -->

        </div>
        <div class="col-6 text-end">
            <button type="submit" class="btn btn-primary px-5 py-2">Next</button>
        </div>
    </div>
</div>