.custom-input {
    background-color: var(--light-primary-color);
    border: 1px solid var(--grey-color);
    border-radius: 12px;
    padding: 10px 15px;
    font-family: var(--body-font);
    color: var(--dark-color);
    transition: all 0.3s ease-out;
}

.custom-input:focus {
    border-color: var(--accent-color);
    outline: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-input::placeholder {
    color: var(--light-dark-color);
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading img {
    width: 90px;
    height: auto;
}

.logo {
    display: block;
    margin: 2px auto;
    height: 90px;
    width: auto;
}

hr {
    margin: 20px 0;
    border: 1px solid var(--grey-color);
}

.progress-bar-container {
margin: 20px auto;
max-width: 600px;
}
.step {
position: relative;
text-align: center;
font-weight: bold;
flex: 1;
}
.step .circle {
width: 30px;
height: 30px;
background-color: lightgray;
border-radius: 50%;
margin: 0 auto 10px;
display: flex;
align-items: center;
justify-content: center;
color: black;
font-size: 16px;
transition: background-color 0.3s ease, color 0.3s ease;
}
.step.active .circle {
background-color: #ffc43f;
color: black;
}
.step .label {
font-size: 14px;
}
    
.verify {
    display: block;
    margin: 2px auto;
    height: 500px;
    width: auto;
}

.video-verification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.camera-view {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: none;
    border: 5px solid #ffc43f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.camera-view video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    width: auto;
    height: 100%;
}

.countdown {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #ff0000;
    display: none;
}

